In [1]:
# empty tuple
tup1 = ()

# a tuple with single data item
tup2 = (99,)

# tuple of strings
tup3 = ("hi", "hello", "bye")

# tuple of int, float, string
tup4 = (1, 2.8, "Hello World")

# tuple of string and list
tup5 = ("Book", [1, 2, 3])

# tuples inside another tuple
# nested tuple
tup6 = ((2, 3, 4), (1, 2, "hi"))

In [1]:
tup6 = ((2, 3, 4), (1, 2, "hi"))
tup6

((2, 3, 4), (1, 2, 'hi'))

In [3]:
tup7 = (99)
tup7

99

In [6]:
tup8 = (99,)
tup8

(99,)

In [2]:
# accessing first element
print(tup5[0])

# accessing third element
# prints "bye"
print(tup6[1])

Book
(1, 2, 'hi')

In [4]:
# Similar to list and strings we can use negative indexes to access the tuple 
# elements from the end.
# -1 to access last element, -2 to access second last and so on.
my_data = (1, 2, "Kevin", 8.9)

# accessing last element
# prints 8.9
print(my_data[-1])

# prints 2
print(my_data[-3])

8.9
2

In [5]:
# Accessing elements from nested tuples
my_data = (1, "Steve", (11, 22, 33))
        #   [0]  [1]     [2]
# prints 'v'
print(my_data[1][3])

# prints 22
print(my_data[2][1])

v
22

In [6]:
# changing the tuple element
my_data = (1, [9, 8, 7], "World")
print(my_data)

# changing the element of tuple
# This is not valid since tuple elements are immutable
# TypeError: 'tuple' object does not support item assignment
my_data[0] = 101

(1, [9, 8, 7], 'World')

TypeError: 'tuple' object does not support item assignment

In [7]:
# changing the tuple element, which are mutable
my_data = (1, [9, 8, 7], "World")
print(my_data)

# changing the element of the list
# this is valid because list is mutable
my_data[1][2] = 99
print(my_data)

(1, [9, 8, 7], 'World')
(1, [9, 8, 99], 'World')

In [ ]:
# deleting tuple elements
my_data = (1, 2, 3, 4, 5, 6)
print(my_data)

# not possible
# error
# del my_data[2]

# deleting entire tuple is possible
del my_data

In [ ]:
# Slicing operation in tuples
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# elements from 3rd to 5th
# prints (33, 44, 55)
print(my_data[2:5])

# elements from start to 4th
# prints (11, 22, 33, 44)
print(my_data[:4])

# elements from 5th to end
# prints (55, 66, 77, 88, 99)
print(my_data[4:])

# elements from 5th to second last
# prints (55, 66, 77, 88)
print(my_data[4:-1])

# displaying entire tuple
print(my_data[:])

In [ ]:
# Membership Test in Tuples
# in: Checks whether an element exists in the specified tuple.
# not in: Checks whether an element does not exist in the specified tuple.
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# true
print(22 in my_data)

# false
print(2 in my_data)

# false
print(88 not in my_data)

# true
print(101 not in my_data)

In [7]:
# Iterating a tuple
# tuple of fruits
my_tuple = ("Apple", "Orange", "Grapes", "Banana")

# iterating over tuple elements
for fruit in my_tuple:
     print(fruit)

Apple
Orange
Grapes
Banana

In [8]:
# tuple methods
my_tuple = ('a','p','p','l','e',)

# Count
print(my_tuple.count('p'))

# Index
print(my_tuple.index('l'))

2
3